* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
   /* this is the line that is cuasing a gaop fixed one problem started another */
 
}

body {
 
  width: 100%;
  max-width: 100%; /* Set the maximum width to the viewport width */
  overflow-x: hidden; 
} 

 
html, body {
  height: 100%;
  margin: 0;
}

#app {
  min-height: 100%;
}

.body {
  min-height: 100vh;
 
} 

.App {

  width: 100%;
  overflow: hidden;
  min-width: 1500px;
  overflow-x: hidden;
}
