


/*  
.shop-header {
    display: flex;
    align-items: center; 
    justify-content: center; 
    position: relative;
    font-weight: 900;
  }
  
  .shop-header::before {
    content: ' →'; 
    font-size: 20px; 
    opacity: 0;
    position: absolute;
    left: 100%;
    top: 70%;
    transform: translate(-50%, -50%); 
    transition: opacity 0.3s, left 0.3s;
  }
  
  .collection-box:hover .shop-header::before {
    opacity: 1;
    left: calc(100% + 5px); 
  }
  
  .help-box {
    height: 350px;
    background-color: rgb(237, 237, 237);
  }
  
  .help-header {
    margin-top: 20%;
    text-align: center;
    font-weight: 700;
  }
  
  
  
  
  
img.shop-main-image {
    max-width: 100%; 
    height: auto; 
    transition: transform 0.9s;
  }
  
  .shop-main-image:hover {
    transform: scale(1.1); 
  }
  
  .main-img-box {
    overflow: hidden;
  }  */