.PopUpCart {
    position: fixed;
    top: 0;
    right: 0; /* Start with the element outside the viewport */
    width: 35%;
    height: 100vh;
    background-color:white;
    padding: 20px;
    transition: right 0.5s; /* Change the duration to 0.5 seconds */
  }

/* Rest of your styles remain the same */

/* Add a class to animate the CartPreview when it's triggered */
.cart-preview-show {
    right: 0; /* Move the element to the right to slide it in */
    z-index: 2
}



 
  .cart-preview-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
  }

  .close-cart-preview {
    background-color: white;
    border: 0;
    font-weight: 700;

  }


.cart-prev-shipping-box {
    border-top: 3px solid black;
    padding-top: 10px;
    text-align: center;
}

.cart-prev-all-items-box {
  margin: 15px 0 50px;
  padding: 20px 0 60px 30px;
  /* margin-bottom: 20px; */
  max-height: 75%; 
  overflow-y: auto; /* Enable vertical scrolling */
  overflow-x: hidden; /* Disable horizontal scrolling */
  /* background-color: bisque; */
  
}

/* .cart-prev-item-box {
    margin-top: 5px;
    
    overflow: auto;
   
} */

.cart-prev-description-box  {
  line-height: .8;
  margin-top: 22px;
  
  
}

h6.cart-prev-description  {
  font-size: 14px;
  font-weight: 700;
}

.cart-prev-color {
    font-size: 12px;
}


.quanity-selector {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    font-weight: 600;
    
    padding: 2px 12px;
    
}

.left {
    border: 1px solid black;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.right {
    border: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.cart-prev-remove-box {
    margin-top: 22px;
    padding-left: 0;
    margin-left: 0;
}

.cart-prev-remove {
  padding-left: 0;
  margin-left: 0;
}

  





.cart-preview {
  position: absolute;
  bottom: 10px; /* Stick it to the bottom */
  width: 100%;
  right: 0;
  margin: 20px 0;
  display: flex; /* Create a flex container */
  justify-content: center; /* Center horizontally */
  
}

.cart-preview-button {
  background-color: black;
  color: white;
  width: 90%; /* Set a specific width */
  height: 50px;
  
 
  margin: auto; /* Center both horizontally and vertically */
}


  .quanity-selector:hover {
    cursor: pointer;
  }
  