.PopUpCart {
    position: fixed;
    top: 0;
    right: 0;
    /* width: 35%; */
    width: 500px;
    height: 100vh;
    background-color:white;
    padding: 20px;
    transition: right 0.5s; 

  }



.cart-preview-show {
    right: 0; 
    z-index: 2
}


 
  .cart-preview-header { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
  }

  .close-cart-preview {
    background-color: white;
    border: 0;
    font-weight: 700;

  }


.cart-prev-shipping-box {
    border-top: 3px solid black;
    padding-top: 10px;
    text-align: center;
}


/* Empty cart Msg */
.cart-empty-msg {
  display: flex;
  justify-content: center;
  margin: 10%;
  font-weight: 700;
}

.cart-prev-all-items-box {
  margin: 15px 0 50px;
  padding: 20px 0 60px 0px;
 
  max-height: 75%; 
  overflow-y: auto; 
  overflow-x: hidden; 
  /* background-color: bisque; */
  
}

.cart-prev-description-box  {
  line-height: .8;
  margin-top: 22px;
  
  
}

h6.cart-prev-description  {
  font-size: 15px;
  font-weight: 700;
  
}

.cart-pre-price {
  font-size: 13px;
  font-weight: 700;
}

.cart-prev-color {
    font-size: 12px;
}


.quanity-selector {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    font-weight: 600;
    background-color: white;
    height: 25px;
    padding: 2px 12px;
    
}

.left {
    border: 1px solid black;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    height: 25px;
    padding-top: 3px;
}

.right {
    border: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 25px;
    padding-top: 3px;
}

.cart-prev-remove-box {
    margin-top: 22px;
    padding-left: 0;
    margin-left: 0;
}

.cart-prev-remove {
  padding-left: 0;
  margin-left: 0;
}

  





.cart-preview-bottom-box {
  position: absolute;
  bottom: 10px;
  width: 95%;
  padding-top: 20px;
  margin-bottom: 20px;
  background-color: white;
}

.total-box {
  padding-bottom: 10px;
  padding-left: 10px;
  
}

.total-box span {
  font-weight: 700;
}

.total-box h5 {
  padding-left: 5px;
}

.cart-btn-box {
  right: 20px;
  /* margin: 20px 0; */
  display: flex; 
  justify-content: center;
}

.cart-btn {
  position: relative;
  right: 8px;
  background-color: black;
  color: white;
  width: 96%; 
  height: 50px;
  text-align: center;
 
  margin: auto; 
}


  .quanity-selector:hover {
    cursor: pointer;
  }
  

  .cart-prev-remove-box:hover {
    cursor: pointer;
  }


  @media screen and (min-width: 1500px) {
   .middle   {
    padding-bottom: 3px;
    width: 100px;
   
   }



}