.Home {
    /* background-color: rgb(52, 52, 52); */
    z-index: 2;
    
}

.container {
  max-width: 960px;

}

/*
 * Custom translucent site header
 */

 .site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #8e8e8e;
  transition: color .15s ease-in-out;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

/* Category */

.category {
  position: relative;
  text-decoration: none;
  color: #333; /* Set your desired text color */
}

.category::before {
  content: '';
  position: absolute;
  left: 0;
  right: 100%;
  bottom: 0;
  background-color: #333; /* Set your desired underline color */
  height: 2px; /* Set your desired underline height */
  transition: right 0.3s ease; /* Transition the right edge */
}


.category:hover::before {
  right: 0; /* Gradually move the right edge to 0 (underlining the text) */
}

span.buy-shop {
  font-weight: 500;
}

.pbd { 
  background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
}



/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

 .product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  border-radius: 21px;
  transform: rotate(30deg);
  transition: all 0.8s; /* Add a transition for all properties with a 0.3s duration */
}

.product-device:hover {
  width: 315px; /* Increase the width */
  height: 555px; /* Increase the height */
}

.product-device:hover:before {
  transform: rotate(25deg); /* Slightly adjust the rotation */
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, .1);
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;

}
.product-box {
    background-color: rgb(237, 237, 237);
}

.product {
   width: 80%; 
   height: 300px; 
  
}

.buy-shop:hover {

  color: black;
}
/*
 * Extra utilities
 */

.flex-equal > * {
  flex: 1;
}




.finance {
  position: "relative";
  top: "-50px";
}



.ad-box {
  font-weight: 600;
}









.carousel-box {
  width: 100%;
  max-width: 100%; /* Set the maximum width to the viewport width */
  overflow-x: hidden; /* Hide the horizontal overflow content */
  height: 500px;
 
  background-color: rgb(237, 237, 237);
  margin: 15px 0 50px 0;
  z-index: 1;
}

.center-window {
 
  width: auto;
  padding: 0 8%;
  /* margin: 20px; */
}

.left-window {
  width: 100%;
  height: 100%;
  padding-right: 3%;
  border-right: 15px solid white;
 
}

.left-window, .right-window img {

z-index: 1;
}
.right-window {
  width: 100%;
  height: 100%;
  padding-left: 3%;
  border-left: 15px solid white;
 

}








@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }
}






  


