


/* .Product-box { 
    width: 360px;
    height: 400px;
    display: inline-block;
    border-right: .5px solid rgb(178, 178, 178);
    border-bottom: .5px solid rgb(178, 178, 178);
    text-align: center;
    padding: 0;
    margin: 0;
} 

img.product-img  {
    
    height: 250px;
} */







.Product-box {
    /* min-width: 360px; */
    max-width: 360px;
    height: 350px;
    display: inline-block;
    border-right: .5px solid rgb(178, 178, 178);
    border-bottom: .5px solid rgb(178, 178, 178);
    text-align: center;


    position: relative; /* Add relative positioning to .Product-box */ 
    
  }
  
  .Product-box img.product-img {
    max-width: 100%; /* Ensure the image stays within the box */
    max-height: 100%; /* Ensure the image stays within the box */
    width: auto; /* Reset the width to auto */
    height: 250px; /* Set the initial image height */
    transition: transform 0.3s ease-in-out; /* Add a transition for smooth size changes */
  }
  
  .Product-box:hover img.product-img {
    transform: scale(1.05); /* Increase the size of the image by 5% on hover */
  }
  
  h5 {
    position: relative; /* Add relative positioning to <h5> */
    color: #000; /* Set the default text color to black */
    margin-bottom: 50px;
  }
  
  h5::before {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #000; /* Black border */
    transform-origin: left;
    transform: scaleX(0); /* Initially no width */
    transition: transform 0.3s ease-in-out; /* Add a transition for smooth width changes */
  }
  
  .Product-box:hover h5::before {
    transform: scaleX(1); /* Scale to 100% width on hover */
  }
  



@media screen and (min-width: 1500px) {

  .Product-box {
    min-width: 400px;
    max-width: 800px;
    height: 450px;
  }

  .Product-box img.product-img {
    height: 350px; /* Set the initial image height */
  }
  
}